<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PSM - Add Products</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Add Products - WIP</h2> <br>
        <p style="text-align: center; font-size: 5em;"> <a th:href="@{/admin/add_products/add_consoles}">Add Consoles</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/admin/add_products/add_games}">Add Games</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/admin/add_products/add_accessories}">Add Accessories</a> </p> <br>
        <div style="text-align: center;">
            <a th:href="@{/admin}">
                <input type="submit" value="Go back" />
            </a>
        </div>
    </body>
</html>