<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PSM - Delete Products</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Delete Products</h2> <br>
        <p style="text-align: center; font-size: 5em;"> <a th:href="@{/admin/delete_products/delete_consoles}">Delete Consoles</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/admin/delete_products/delete_games}">Delete Games</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/admin/delete_products/delete_accessories}">Delete Accessories</a> </p> <br>
        <div style="text-align: center;">
            <a th:href="@{/admin}">
                <input type="submit" value="Go back" />
            </a>
        </div>
    </body>
</html>