<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PSM - Delete User Account</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Delete User Account</h2> <br>
        <div style="text-align: center;">
            <table style="margin-left:auto; margin-right:auto;">
                <tbody>
                    <tr>
                        <td>
                            <form method="post" th:action="@{/settings/delete_user}">
                                <input type="submit" value="Yes, delete my account!" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{/settings}">
                                <input type="submit" value="No, go back!" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>