<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PSM - Edit Products</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Edit Products</h2> <br>
        <p style="text-align: center; font-size: 5em;"> <a th:href="@{/admin/edit_products/edit_consoles}">Edit Consoles</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/admin/edit_products/edit_games}">Edit Games</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/admin/edit_products/edit_accessories}">Edit Accessories</a> </p> <br>
        <div style="text-align: center;">
            <a th:href="@{/admin}">
                <input type="submit" value="Go back" />
            </a>
        </div>
    </body>
</html>