<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PlayStation Mall</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Welcome to all things PlayStation!</h2> <br>
        <h3 style="text-align: center;">Please select an option, in order to access the site:</h3> <br>
        <div style="text-align:center;">
            <table style="margin-left:auto; margin-right:auto;">
                <tbody>
                    <!--Sign In-->
                    <tr>
                        <td>
                            <a th:href="@{/signIn}">
                                <input style="width: 300px; height: 50px; font-size: larger;" type="submit" value="Sign In" />
                            </a>
                        </td>
                    </tr>
                    <!--Sign Up-->
                    <tr>
                        <td>
                            <a th:href="@{/signUp}">
                                <input style="width: 300px; height: 50px; font-size: larger;" type="submit" value="Sign Up" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 style="text-align: center; color: red;" th:if="${deleteMessage}" th:text="${deleteMessage}"></h3>
    </body>
</html>