<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PlayStation Mall</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Welcome to all things PlayStation!</h2> <br>
        <h3 style="text-align: center;">Please select an option, in order to access the site:</h3> <br>
        <div style="text-align:center;">
            <table style="margin-left:auto; margin-right:auto;">
                <tbody>
                <tr>
                    <td>
                        <form action="http://localhost:8080/signIn">
                            <input type="submit" value="Sign In" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="http://localhost:8080/signUp">
                            <input type="submit" value="Sign Up" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>