<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PSM - Settings</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Settings</h2> <br>
        <p style="text-align: center; font-size: 5em;"> <a th:href="@{/settings/edit_user}">Edit User Details</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/settings/edit_address}">Edit Address Details</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/settings/delete_user}">Delete User Account</a> </p> <br>
        <div style="text-align: center;">
            <a th:href="@{/store}">
                <input type="submit" value="Go back" />
            </a>
        </div>
    </body>
</html>