<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
    <head>
        <meta charset="UTF-8">
        <title>PSM - Store</title>
    </head>
    <body>
        <h1 style="text-align:center;">PlayStation Mall</h1>
        <h2 style="text-align:center;">Store</h2> <br>
        <p style="text-align: center; font-size: 5em;"> <a th:href="@{/store/consoles}">Consoles</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/store/games}">Games</a> </p>
        <p style="text-align: center; font-size: 5em"> <a th:href="@{/store/accessories}">Accessories</a> </p> <br>
        <div style="text-align: center;">
            <a th:href="@{/settings}">
                <input style="width: 300px; height: 50px; font-size: larger;" type="submit" value="Settings" />
            </a> <br> <br>
            <a th:href="@{/}">
                <input style="width: 300px; height: 50px; font-size: larger;" type="submit" value="Sign Out" />
            </a>
        </div>
    </body>
</html>