<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gamer Land</title>
    </head>
    <body>
        <h1 style="text-align:center;">Gamer Land</h1>
        <h2 style="text-align:center;">Main Page</h2>
        <div style="text-align:center;">
            <table style="margin-left:auto; margin-right:auto;">
                <thead>
                    <tr>
                        <td>Choose an option:</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <form action="http://localhost:8080/create">
                                <input type="submit" value="CREATE" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="http://localhost:8080/read">
                                <input type="submit" value="READ" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="http://localhost:8080/update">
                                <input type="submit" value="UPDATE" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="http://localhost:8080/delete">
                                <input type="submit" value="DELETE" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>